keys:
  amadeus_key: CHANGEME
  amadeus_secret: CHANGEME
base_weather_url: 'https://api.weather.gov/points/'
screen_size:
  height: 480
  width: 800
origin:
  airport: JFK
  zip: 10001
resorts:
  killington:
    name: Killington
    zip: '05751'
    latitude: '43.617'
    longitude: '-72.803'
    airport: RUT
    stream: unknown
  steamboat:
    name: Steamboat Springs
    zip: '80487'
    latitude: '40.452'
    longitude: '-106.787'
    airport: HDN
    stream: https://www.youtube.com/watch?v=KMGuAO3XIqU
  hood:
    name: Mt Hood Meadows
    zip: '97041'
    latitude: '45.331'
    longitude: '-121.665'
    airport: PDX
    stream: https://www.skihood.com/cams/vista